!.gitignore
/apache-tomcat-6.0.28/
.classpath
.project
.settings/
.springBeans
target
bin
workspace
test-output
.iml
.idea
*.iml
*.ipr
*.iws
overlays/
ui/commerce/shop/overlays/
ui/selfcare/overlays/
ui/contractmanager/overlays/
ui/commerce/backoffice/overlays/
overlays/
atlassian-ide-plugin.xml
.DS_Store
.~lock.*.csv*
ui/commerce/shop/logs/
ui/commerce/backoffice/logs/
*.gradle
.gradle
build/
rebel.xml
